DATABASE_URL={YOUR_DATABASE_URL}
DIRECT_URL={YOUR_DIRECT_URL}
PORT={YOUR_PORT}
CLIENT_URL="http://localhost:5173"
API_BASE_LOCAL="http://localhost:8080"
JWT_SECRET={YOUR_JWT_SECRET}
JWT_REFRESH_SECRET={YOUR_JWT_REFRESH_SECRET}
NODE_ENV="development"
ETHEREAL_USER={YOUR_ETHEREAL_USERNAME} -> Not Mandatory
ETHEREAL_PASSWORD={YOUR_ETHEREAL_PASSWORD} -> Not Mandatory
REDIS_URL="redis://localhost:6379"
MESSAGE_ENCRYPT_SECRET={YOUR_MESSAGE_ENCRYPTION_SECRET}

# These are needed to see images in the application
CLOUDINARY_NAME={YOUR_CLOUDINARY_NAME}
CLOUDINARY_API_KEY={YOUR_CLOUDINARY_API_KEY}
CLOUDINARY_API_SECRET={YOUR_CLOUDINARY_API_SECRET}
CLOUDINARY_URL={YOUR_CLOUDINARY_URL}
